@import "styles/modules-left.css";
@import "styles/modules-center.css";
@import "styles/modules-right.css";
@import "theme.css";

* {
	font-family: "0xProto Nerd Font";
	font-weight: condensed;
	font-size: 10px;
	color: @main-fg;
}

/* main outline */

window#waybar {
	background-color: @outline;
}

/* main background */

window#waybar > box {
	margin: 2px;
	background-color: @main-bg;
}

/* hoverables */

#custom-theme_switcher:hover,
#idle_inhibitor:hover,
#clock.date:hover,
#network:hover,
#bluetooth:hover,
#custom-system_update:hover,
#mpris:hover,
#pulseaudio:hover,
#wireplumber:hover {
	color: @hover-fg;
}

/* states */

.deactivated,
.paused,
#pulseaudio.output.muted,
#pulseaudio.input.source-muted,
#wireplumber.muted {
	color: @hover-fg;
}
.warning { color: @warning; }
.critical { color: @critical; }
.charging { color: @charging; }

/* dividers */

#custom-left_div,
#custom-left_inv,
#custom-right_div,
#custom-right_inv {
	font-size: 10px;
}

/* buttons */

button {
	border-radius: 2px;
	padding: 0 2px;
}
button:hover {
	background-color: @hover-bg;
	color: @hover-fg;
}

/* tooltips */

tooltip {
	border: 2px solid @main-br;
	border-radius: 2px;
	background-color: @main-bg;
}
tooltip label {
	margin: 2px 2px;
	font-weight: normal;
}
tooltip decoration {
	border: none;
	background-color: transparent;
}
